header {
    flex: auto;
    display: flex;
    width: auto;
    margin-bottom: 2em;
}

body {
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0 var(--spacing-3);
    max-width: 1500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }

.nav {
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    padding: var(--spacing-3) 0;
    margin-left: .25em;
  }
  
  .navigation-items {
    display: flex;
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin: 0;
  }
  
  .navigation-item {
    margin: 0 1em;
  }

  .portrait {
    width: 100%;
    height: auto;
    flex-wrap: wrap;
    }

  .about-me-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr 2fr;
    grid-auto-rows: auto;
  }

  .about-me-text-container {
    margin-left: .5em;
  }

  h2 {
    display: block;
    font-size: 2.5em;
  }

  h3 {
    margin-bottom: -1.75em;
  }

  h4 {
    margin-bottom: -.65em;
  }

  .education,
  .career {
    margin-left: 1.5em;
  }

  .skills-container {
    display: flex;
    width: 100%;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-left: .5em;
  }

.skill {
    max-height: 2.5em;
}

.contact-list {
    display: flex;
    list-style: none;
    justify-content: space-around;
}


form {
    max-width: fit-content;
    margin-right: 0;
}

label {
    margin-bottom: .25em;
    font-size: 1.25em;
    width: 10em;
}

textarea {
    color: #b6b6b6;
    display: flex;
    width: 10em;
}

input {
    margin-top: .5em;
}


.email {
    display: inline-flex;
    font-size: 1.25em;
    text-align: center;
}

footer {
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

@media only screen and (max-width: 600px) {
  .about-me-container {
    display: flex;
    flex-direction: column;
  }

  .portrait {
    margin: 0 1em;
  }

  img {
    width: min-content;
    height: auto;
    justify-content: space-around;
    margin: 0 0;
  }

  .contact-me {
    flex-direction: column;
  }

  textarea {
    width: 10em;
  }

  .email {
    margin-right: .5em;
  }

}
